black==21.8b0        # Linting / code style
Click>=7.1.2         # CLI tooling
cookiecutter==1.7.3  # Project templating
isort==5.4.2         # Linting / code style
mypy==0.930          # Type checker
pytest>=5.3.5,<6.0.0 # Test framework
twine==3.7.1         # Packaging
wheel==0.37.1        # Packaging
