<nav aria-label="breadcrumb">
    <ol class="breadcrumb">
        <li class="breadcrumb-item"><a href="../../../index.html">Home</a></li>
        <li class="breadcrumb-item">{{data_asset_name[0]}}</li>
        {# <li class="breadcrumb-item"><a href="#">Library</a></li> #}
        <li class="breadcrumb-item active" aria-current="page">{{data_asset_name[2]}}</li>
    </ol>
</nav>
