{%- if section_loop is defined -%}
    {%- set section_id = "section-"~section_loop.index -%}
{%- else -%}
    {%- set section_id = None -%}
{%- endif -%}
{% if content_block_loop is defined -%}
    {%- if section_loop is defined -%}
        {%- set content_block_id = "section-"~section_loop.index~"-content-block-"~content_block_loop.index -%}
    {%- else -%}
        {%- set content_block_id = "content-block-"~content_block_loop.index -%}
    {%- endif -%}
{%- else -%}
    {%- set content_block_id = "content-block" -%}
{% endif %}
{% if "styling" in content_block and "header" in content_block["styling"] -%}
    {% set content_block_header_styling = content_block["styling"]["header"] | render_styling -%}
{% else -%}
    {% set content_block_header_styling = "" -%}
{% endif -%}

{% if "styling" in content_block and "sub_header" in content_block["styling"] -%}
    {% set content_block_subheader_styling = content_block["styling"]["sub_header"] | render_styling -%}
{% else -%}
    {% set content_block_subheader_styling = "" -%}
{% endif -%}

{% if "styling" in content_block and "body" in content_block["styling"] -%}
    {% set content_block_body_styling = content_block["styling"]["body"] | render_styling -%}
{% else -%}
    {% set content_block_body_styling = "" -%}
{% endif -%}
<div id="{{content_block_id}}" {{ content_block | render_styling_from_string_template }}>

    {% if ("header" in content_block or "sub_header" in content_block) and content_block["content_block_type"] != "header" -%}
        <div id="{{content_block_id}}-header" {{ content_block_header_styling | replace("{{section_id}}", section_id) | replace("{{content_block_id}}", content_block_id) }}>
            <h4>
                {{ content_block["header"] | render_string_template }}
            </h4>
            {%- if "sub_header" in content_block and content_block["content_block_type"] != "header" -%}
            <h5 id="{{content_block_id}}-subheader" {{ content_block_subheader_styling | replace("{{section_id}}", section_id) | replace("{{content_block_id}}", content_block_id) }}>
                {{ content_block["sub_header"] | render_string_template }}
            </h5>
            {% endif -%}
        </div>
    {% endif -%}

    {{ content_block | render_content_block }}

</div>