<!DOCTYPE html>
<html>
  <head>
    <title>Data Docs created by Great Expectations</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta charset="UTF-8">
    <title>{% block title %}{% endblock %}</title>

    {# {# Remove this when not debugging: #}
    {# <meta http-equiv="refresh" content="1"/> #}
    <link rel="stylesheet" href="https://unpkg.com/bootstrap-table@1.16.0/dist/bootstrap-table.min.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"/>
    <link rel="stylesheet" type="text/css" href="https://unpkg.com/bootstrap-table@1.16.0/dist/extensions/filter-control/bootstrap-table-filter-control.min.css">
    <link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.9.0/css/bootstrap-datepicker.min.css">

    <style>{% include 'data_docs_default_styles.css' %}</style>

    <style>{% include 'data_docs_custom_styles.css' ignore missing %}</style>

    {% include 'js_script_imports.j2' %}
    {% include 'favicon.j2' %}
  </head>

  <body>

    {% if show_how_to_buttons | default(True) %}
      {% include 'carousel_modal.j2' %}

      <script>
        try {
          if (localStorage.getItem('ge-walkthrough-modal-dismissed') !== 'true') {
            $(".ge-walkthrough-modal").modal();
          }
        }
        catch(error) {
          $(".ge-walkthrough-modal").modal();
          console.log(error);
        }
      </script>
    {% endif %}

    {% include 'top_navbar.j2' %}
    <div class="container-fluid pt-4 pb-4 pl-5 pr-5">
      <div class="row">
        {% include 'sidebar.j2' %}
        <div class="col-md-10 col-lg-10 col-xs-12 pl-md-4 pr-md-3">
          {% for section in sections %}
            {% set section_loop = loop -%}
            {% include 'section.j2' %}
          {% endfor %}
        </div>
      </div>
    </div>

    {% if cta_footer %}
      {% include 'cta_footer.j2' %}
    {% endif %}
  </body>
</html>
