{% if "ValidationResults" in renderer_type or "ProfilingResults" in renderer_type %}
  {% set static_scripts_dir = "../../../../../../../static/scripts/" -%}
{% elif "ExpectationSuite" in renderer_type %}
  {% set static_scripts_dir = "../../../../static/scripts/" -%}
{% elif "SiteIndex" in renderer_type %}
  {% set static_scripts_dir = "./static/scripts/" -%}
{% endif %}

<script src="{{ static_scripts_dir }}vendor.js" type="text/javascript"></script>