{% if not content_block_body_styling and content_block.get("styling") %}
    {% set content_block_body_styling = content_block.get("styling") | render_styling %}
{% endif %}

{% include 'markdown_content_block_header.j2' %}
{% for text in content_block["text"] -%}
  {% if text is mapping and "styling" in text -%}
    {% set paragraph_styling = text["styling"].get("parent", {}) | render_styling -%}
  {% else -%}
    {% set paragraph_styling = "" -%}
  {% endif -%}
  {{text | render_content_block }}
{% endfor -%}
