<nav id="navigation" class="navbar navbar-light bg-light sticky d-none d-sm-block">
    <nav class="nav nav-pills flex-column">
        {% if data_asset_name -%}
            <a class="navbar-brand" href="#" style="white-space: normal; word-break: break-all;overflow-wrap: normal; font-size: 1rem; font-weight: 500;">{{data_asset_name}}</a>
        {% else -%}
            <a class="navbar-brand" href="#" style="white-space: normal; word-break: break-all;overflow-wrap: normal; font-size: 1rem; font-weight: 500;"></a>
        {% endif -%}
        {% for section in sections %}
            <a class="nav-link" href="#section-{{loop.index}}">{{section['section_name']}}</a>
        {% endfor %}
    </nav>
</nav>
