<div id="section-{{section_loop.index|default(1)}}" class="ge-section container-fluid mb-1 pb-1 pl-sm-3 px-0">
    <div class="row" {{ section | render_styling_from_string_template }}>
        {% set section_loop = loop -%}
        {% for content_block in section["content_blocks"] -%}
            {% set content_block_loop = loop -%}
            {% include 'component.j2' %}
        {% endfor %}
    </div>
</div>
