{# {% if not nowrap %}{% extends "widget.j2" %}{% endif %} #}
{% block sections %}
    {% for section in sections %}
    {% with content_blocks = section["content_blocks"] %}
    <div id="section-{{loop.index}}" class="ge-section" style="clear:both; margin-bottom: 50px;">
        {% set section_loop = loop %}
        {% if "header" in content_blocks %}
            {% with content_block = content_blocks["header"] %}
                {% include 'header.j2' %}
            {% endwith %}
        {% endif %}
        {% if "column_type" in content_blocks %}
            {% with content_block = content_blocks["column_type"] %}
                <div style="width:100%">
                    <p>
                        {{content_block["content"][0]}}
                    </p>
                </div>
            {% endwith %}
        {% endif %}
        {% if "overview_table" in content_blocks %}
            <div>left side
            {% with content_block = content_blocks["overview_table"] %}
                {% include 'table.j2' %}
            {% endwith %}
            </div>
        {% endif %}
        {% if "stats_table" in content_blocks %}
            <div>right side
            {% with content_block = content_blocks["stats_table"] %}
                {% include 'table.j2' %}
            {% endwith %}
            </div>
        {% endif %}
        {% if "value_list" in content_blocks %}    
            {% with content_block = content_blocks["value_list"] %}
                {% include 'value_list.j2' %}
            {% endwith %}
        {% endif %}
        {% if "value_graph" in content_blocks %}
            {% with content_block = content_blocks["value_graph"] %}
                <div id="vis-{{section_loop.index}}-value-graph" style="width:45%"></div>
                <script>
                    // Assign the specification to a local variable vlSpec.
                    const vlSpec = {{content_block["graph"]}};
                    // Embed the visualization in the container with id `vis`
                    vegaEmbed('#vis-{{section_loop.index}}-{{loop.index}}', vlSpec, {actions: false}).then(result=>console.log(result)).catch(console.warn);
                </script>
            {% endwith %}
        {% endif %}
        {% if "summary_list" in content_blocks %}
            {% with content_block = content_blocks["summary_list"] %}
                    <div style="width:100%">
                        <p>
                            <ul>
                                {% for bullet_point in content_block["bullet_list"] %}
                                    <li>{{ bullet_point | render_template }}</li>
                                {% endfor %}
                            </ul>
                        </p>
                    </div>
            {% endwith %}
        {% endif %}
        {% if "other_blocks" in content_blocks %}
            {% for content_block in content_blocks["other_blocks"] %}
                {% set content_block_loop = loop %}
                {% if content_block["content_block_type"] == "header" %}
                    {% include 'header.j2' %}
                {% elif content_block["content_block_type"] == "text" %}
                    <div style="width:100%">
                        <p>
                            {{content_block["content"][0]}}
                        </p>
                    </div>
                {% elif content_block["content_block_type"] == "value_list" %}
                    {% include 'value_list.j2' %}

                {% elif content_block["content_block_type"] == "bullet_list" %}
                    <div style="width:100%">
                        <p>
                            <ul>
                                {% for bullet_point in content_block["bullet_list"] %}
                                    <li>{{ bullet_point | render_template }}</li>
                                {% endfor %}
                            </ul>
                        </p>
                    </div>

                {% elif content_block["content_block_type"] == "graph" %}
                    <div id="vis-{{section_loop.index}}-{{content_block_loop.index}}" style="width:45%"></div>
                    <script>
                        // Assign the specification to a local variable vlSpec.
                        const vlSpec = {{content_block["graph"]}};
                        // Embed the visualization in the container with id `vis`
                        vegaEmbed('#vis-{{section_loop.index}}-{{loop.index}}', vlSpec, {actions: false}).then(result=>console.log(result)).catch(console.warn);
                    </script>
                {% elif content_block["content_block_type"] == "table" %}
                    {% include 'table.j2' %}
                {% elif content_block["content_block_type"] == "example_list" %}
                {% endif %}
            {% endfor %}
        {% endif %}
    </div>
    {% endwith %}
    {% endfor %}
{% endblock %} 