<div {{ content_block | render_styling_from_string_template }}>
    <h5>{{content_block["header"]}}</h5>
    <table style="width: 100%">
        {% for row in content_block["table_rows"] %}
        <tr>
            {% set rowloop = loop %}
            {% for cell in row %}
                <td id="cell-{{ rowloop.index }}-{{ loop.index }}">{{ cell | render_string_template }}</td>
            {% endfor %}
        </tr>
        {% endfor %}
    </table>
</div>