<div style="width:45%">
    <table>
        {% for row in content_block["table_rows"] %}
        <tr class="{{ loop.cycle('odd', 'even') }}" >
            {% set rowloop = loop %}
            {% for cell in row %}
                <td id="cell-{{ rowloop.index }}-{{ loop.index }}">{{ cell }}</td>
            {% endfor %}
        </tr>
        {% endfor %}
    </table>
</div>