{% if full_data_asset_identifier %}
  {% set identifier_list = full_data_asset_identifier.split("/") -%}
{% endif %}

<nav class="navbar bg-light navbar-expand-md sticky-top border-bottom">
  <div class="mr-auto">
    <nav aria-label="breadcrumb" class="d-flex align-items-center">
      <div class="float-left navbar-brand m-0">
        <h4>Great Expectations Data Docs</h4>
      </div>
      {% if identifier_list %}
        <ol class="ge-breadcrumbs breadcrumb d-inline-flex bg-light m-0 pt-0 pb-0">
            {% if utm_medium == "validation-results-page" or utm_medium == "profiling-results-page" %}
              <li class="ge-breadcrumbs-item breadcrumb-item"><a href="../../../../../index.html">Home</a></li>
            {% else %}
              <li class="ge-breadcrumbs-item breadcrumb-item"><a href="../../../../index.html">Home</a></li>
            {% endif %}
            {% for el in identifier_list %}
                <li class="ge-breadcrumbs-item breadcrumb-item">{{ el }}</li>
            {% endfor %}
            <li class="ge-breadcrumbs-item breadcrumb-item active" aria-current="page">{{page_title}}</li>
        </ol>
      {% endif %}
    </nav>
  </div>
</nav>
