# The pip resolver became more strict starting with version 20.3
# This constraints file is "a way to specify global (version) limits for packages"
# without specifying the install of these packages.
# See also: https://pip.pypa.io/en/stable/user_guide/#constraints-files
# We use it to place limits on certain packages to help the resolver come to a compatible configuration more quickly
# To install dev dependencies using the new pip resolver (recommended) please use the following syntax:
# `python -m pip install -r requirements-dev.txt -c constraints-dev.txt`

# NOTE - 20210114
# aiobotocore is a dependency of the s3fs package
# The latest version of aiobotocore (v1.4.0) is only compatible with botocore up to 1.20.106
# botocore==1.20.106 is compatible with boto3==1.17.106
botocore==1.20.106  # From aiobotocore v1.4.0 dependencies https://pypi.org/project/aiobotocore/
boto3==1.17.106  # from botocore==1.20.106 dependency
pyo3>=0.15, <0.16
# END NOTE
