# The pip resolver became more strict starting with version 20.3
# This constraints file is "a way to specify global (version) limits for packages"
# without specifying the install of these packages.
# See also: https://pip.pypa.io/en/stable/user_guide/#constraints-files
# We use it to place limits on certain packages to help the resolver come to a compatible configuration more quickly
# To install dev dependencies using the new pip resolver (recommended) please use the following syntax:
# `python -m pip install -r requirements-dev.txt -c constraints-dev.txt`

# Several capitalone_dataprofiler_expectations that use tensorflow started
# dying with the following error from site-packates/google/protobuf/descriptor.py
#		TypeError: Descriptors cannot not be created directly.
#		If this call came from a _pb2.py file, your generated code is out of date and must be regenerated with protoc >= 3.19.0.
#		If you cannot immediately regenerate your protos, some other possible workarounds are:
#		 1. Downgrade the protobuf package to 3.20.x or lower.
#		 2. Set PROTOCOL_BUFFERS_PYTHON_IMPLEMENTATION=python (but this will use pure-Python parsing and will be much slower).
#
#		More information: https://developers.google.com/protocol-buffers/docs/news/2022-05-06#python-updates
# google-cloud-bigquery has a fix for a refactor to shapely in their 3.3.6 release
#       https://github.com/googleapis/python-bigquery/pull/1376
# With the new requirement of google-cloud-bigquery>=3.3.6, there is a hard conflict with protobuf==3.20
#       ERROR: Cannot install -r reqs/requirements-dev-bigquery.txt (line 2) because these package versions have conflicting dependencies.
#
#       The conflict is caused by:
#           google-cloud-bigquery 3.4.1 depends on protobuf!=3.20.0, !=3.20.1, !=4.21.0, !=4.21.1, !=4.21.2, !=4.21.3, !=4.21.4, !=4.21.5, <5.0.0dev and >=3.19.5
#           google-cloud-bigquery 3.4.0 depends on protobuf!=3.20.0, !=3.20.1, !=4.21.0, !=4.21.1, !=4.21.2, !=4.21.3, !=4.21.4, !=4.21.5, <5.0.0dev and >=3.19.5
#           google-cloud-bigquery 3.3.6 depends on protobuf!=3.20.0, !=3.20.1, !=4.21.0, !=4.21.1, !=4.21.2, !=4.21.3, !=4.21.4, !=4.21.5, <5.0.0dev and >=3.19.5
#           The user requested (constraint) protobuf==3.20
# protobuf 3.20.0 and 3.20.1 were released in April 2022
# protobuf 3.19.5, 3.19.6, and 3.20.2 were released in September 2022
# https://pypi.org/project/protobuf/#history
protobuf!=3.20.0,!=3.20.1,<3.21
