include *.txt
include LICENSE
include great_expectations/data_context/checkpoint_template.yml
include great_expectations/init_notebooks/*/*.ipynb
include great_expectations/render/view/templates/*.j2
include great_expectations/render/notebook_assets/*/*.md
include great_expectations/render/notebook_assets/*/*.j2
graft great_expectations/render/view/static
graft tests
global-exclude *.py[co]
include versioneer.py
include great_expectations/_version.py
