altair>=4.0.0,<5
Click>=7.1.2
colorama>=0.4.3
cryptography>=3.2
importlib-metadata>=1.7.0 # (included in Python 3.8 by default.)
Ipython>=7.16.3
jinja2>=2.10,<3.1.0 # contextfilter has been renamed
jsonpatch>=1.22
jsonschema>=2.5.1
mistune>=0.8.4
nbformat>=5.0
numpy>=1.14.1
packaging
pandas>=0.23.0
pyparsing>=2.4,<3
python-dateutil>=2.8.1
pytz>=2021.3
requests>=2.20
ruamel.yaml>=0.16,<0.17.18
scipy>=0.19.0
termcolor>=1.1.0
tqdm>=4.59.0
typing-extensions>=3.10.0.0 # Leverage type annotations from recent Python releases
tzlocal>=1.2
urllib3>=1.25.4,<1.27
