# A lot of Great Expectations' codebase and tests are tied to specific databases, cloud providers, etc.
# In this file, comments on each row indicate which tests that package is used for.
# To run tests for smaller subsets of infrastructure, please look at other requirements-dev-*.txt files.
# Otherwise (i.e., if/when you are not concerned with running tests), please ignore these comments.

psycopg2-binary>=2.7.6  # sqlalchemy_tests
pyathena>=1.11
pybigquery>=0.4.15  # sqlalchemy_tests
PyMySQL>=0.9.3,<0.10  # sqlalchemy_tests
pyodbc>=4.0.30  # sqlalchemy_tests
# NOTE - 20200825
# snowflake-connector-python is implied by snowflake-sqlalchemy, but has produced multile
# versions with cascading breaking changes, so we are going to pin the version.
# Review this decision with them to identify alternate paths forward without pinning (even for tests) in the future
snowflake-connector-python==2.2.10  # sqlalchemy_tests
# END NOTE
snowflake-sqlalchemy>=1.2.3  # sqlalchemy_tests
sqlalchemy>=1.3.16  # sqlalchemy_tests
sqlalchemy-redshift>=0.7.7  # sqlalchemy_tests
