# NOTE - 20200825
# snowflake-connector-python is implied by snowflake-sqlalchemy, but has produced multiple
# versions with cascading breaking changes, so we are going to pin the version.
# Review this decision with them to identify alternate paths forward without pinning (even for tests) in the future
# END NOTE
# NOTE - 20210727
# Still pinned per previous note, however now upgraded from 2.3.8
snowflake-connector-python==2.5.0
# END NOTE
snowflake-sqlalchemy>=1.2.3
