# Packages used for Scientific Computing (Experimental Projects -- Data Science, Statistics, Machine Learning, etc.)
numpy>=1.21.0 --no-build-isolation # package
scipy>=1.7.0  --no-build-isolation # package
