# A lot of Great Expectations' codebase and tests are tied to specific databases, cloud providers, etc.
# In this file, comments on each row indicate which tests that package is used for.
# To run tests for smaller subsets of infrastructure, please look at other requirements-dev-*.txt files.
# Otherwise (i.e., if/when you are not concerned with running tests), please ignore these comments.

--requirement requirements.txt
--requirement requirements-dev-util.txt
--requirement requirements-dev-spark.txt
--requirement requirements-dev-sqlalchemy.txt
--requirement requirements-dev-test.txt
--requirement requirements-dev-build.txt
--requirement requirements-dev-publish.txt
