# Do not `pip install -r` this file locally or in CI.
# It only exists to be used in the Dockerfile.tests file.


--requirement reqs/requirements-dev-arrow.txt
--requirement requirements.txt
--requirement reqs/requirements-dev-test.txt
--requirement reqs/requirements-dev-sqlalchemy.txt
--requirement reqs/requirements-dev-azure.txt
--requirement reqs/requirements-dev-excel.txt
--requirement reqs/requirements-dev-pagerduty.txt
--requirement reqs/requirements-dev-spark.txt
