--requirement reqs/requirements-dev-sqlalchemy2.txt
--requirement requirements.txt
--requirement reqs/requirements-dev-lite.txt
--requirement reqs/requirements-dev-spark.txt
--requirement reqs/requirements-dev-azure.txt
--requirement reqs/requirements-dev-contrib.txt
--requirement reqs/requirements-dev-cloud.txt
--requirement docs/sphinx_api_docs_source/requirements-dev-api-docs.txt
pandas-stubs
# force sqlalchemy 2 because it exports types
sqlalchemy>2.0
# typing stubs
types-beautifulsoup4
types-colorama
types-decorator
types-html5lib
types-jsonschema
types-openpyxl
types-protobuf
types-psutil
types-psycopg2
types-pycurl
types-Pygments
types-python-dateutil
types-PyYAML
types-requests
types-six
types-tabulate
types-tqdm
types-typed-ast
types-tzlocal
