# A lot of Great Expectations' codebase and tests are tied to specific databases, cloud providers, etc.
# In this file, comments on each row indicate which tests that package is used for.
# To run tests for smaller subsets of infrastructure, please look at other requirements-dev-*.txt files.
# Otherwise (i.e., if/when you are not concerned with running tests), please ignore these comments.

boto3>=1.9  # all_tests
feather-format>=0.4.1  # all_tests
google-cloud-storage>=1.28.0  # all_tests
moto[ec2]>=1.3.7  # all_tests
pyarrow>=0.12.0,<=1.0.0  # all_tests
xlrd>=1.1.0,<2.0.0  # all_tests
s3fs>=0.5.1 # all_tests
flask>=1.0.0 # for s3 test only
