@media (min-width: 997px) {
    .menu {
      flex-grow: 1;
      padding: 0.5rem;
    }
    @supports (scrollbar-gutter: stable) {
      .menu {
        padding: 0.5rem 0 0.5rem 0.5rem;
        scrollbar-gutter: stable;
      }
    }
  }
  
  html[data-theme="light"] .menu__listBottom {
    font-family: "Strawford", "Open Sans", sans-serif;
    left: 1rem;
    position: absolute;
    background: white;
    bottom: 0;
    width: calc(100% - 26px);
    padding: 2rem 0;
  }
  
  
  html[data-theme="dark"] .menu__listBottom {
    font-family: "Strawford", "Open Sans", sans-serif;
    left: 1rem;
    position: absolute;
    background: #1b1b1d;
    bottom: 0;
    width: calc(100% - 26px);
    padding: 2rem 0;
  }
  
  .menu__listBottom > li + li {
    margin-top: 0.6rem;
  }
  
  .menu__listBottom a {
    color: #FFA500;
    font-weight: 600;
  }