body {
    position: relative;
    padding-bottom: 100px;
}

.container {
    padding-top: 50px;
}

.sticky {
    position: -webkit-sticky;
    position: sticky;
    max-height: 90vh;
    overflow-y: auto;
    top: 15px;
}

.ge-section {
    clear: both;
    margin-bottom: 30px;
    padding-bottom: 20px;
}

.triangle {
    border: solid #222;
    border-width: 0 1px 1px 0;
    display: inline;
    cursor: pointer;
    padding: 3px;
    position: absolute;
    right: 0;
    margin-top: 10px;

    transform: rotate(40deg);
    -webkit-transform: rotate(40deg);
    transition: .3s transform ease-in-out;
}

.collapsed .triangle {
    transform: rotate(-140deg);
    -webkit-transform: rotate(-140deg);
    transition: .3s transform ease-in-out;
}

.popover {
    max-width: 100%;
}

.cooltip {
    display: inline-block;
    position: relative;
    text-align: left;
    cursor: pointer;
}

.cooltip .top {
    min-width: 200px;
    top: -6px;
    left: 50%;
    transform: translate(-50%, -100%);
    padding: 10px 20px;
    color: #FFFFFF;
    background-color: #222222;
    font-weight: normal;
    font-size: 13px;
    border-radius: 8px;
    position: absolute;
    z-index: 99999999 !important;
    box-sizing: border-box;
    box-shadow: 0 1px 8px rgba(0, 0, 0, 0.5);
    display: none;
}

.cooltip:hover .top {
    display: block;
    z-index: 99999999 !important;
}

.cooltip .top i {
    position: absolute;
    top: 100%;
    left: 50%;
    margin-left: -12px;
    width: 24px;
    height: 12px;
    overflow: hidden;
}

.cooltip .top i::after {
    content: '';
    position: absolute;
    width: 12px;
    height: 12px;
    left: 50%;
    transform: translate(-50%, -50%) rotate(45deg);
    background-color: #222222;
    box-shadow: 0 1px 8px rgba(0, 0, 0, 0.5);
}

ul {
    padding-inline-start: 20px;
}

  .table-cell-frame {
      overflow-y: auto;
      max-height: 335px;
  }

.table-cell-frame ul {
    padding-bottom: 20px
}

.table-cell-frame::-webkit-scrollbar {
    -webkit-appearance: none;
}

.table-cell-frame::-webkit-scrollbar:vertical {
    width: 11px;
}

.table-cell-frame::-webkit-scrollbar:horizontal {
    height: 11px;
}

.table-cell-frame::-webkit-scrollbar-thumb {
    border-radius: 8px;
    border: 2px solid white; /* should match background, can't be transparent */
    background-color: rgba(0, 0, 0, .5);
}

.ge-navigation-sidebar-container {
    position: fixed; /* Fixed Sidebar (stay in place on scroll) */
    z-index: 1; /* Stay on top */
    width: 15%;
}

#ge-cta-footer {
    opacity: 0.9;
    border-left-width: 4px
}