:root {
  --docusaurus-announcement-bar-height: auto;
}

.announcementBar {
  display: flex;
  align-items: center;
  height: var(--docusaurus-announcement-bar-height);
  background-color: var(--ifm-color-white);
  color: var(--ifm-color-black);

  /*
  Unfortunately we can't make announcement bar render above the navbar
  IE need to use border-bottom instead of shadow
  See https://github.com/facebookincubator/infima/issues/275

  box-shadow: var(--ifm-global-shadow-lw);
  z-index: calc(var(--ifm-z-index-fixed) + 1);
  */
  border-bottom: 1px solid var(--ifm-color-emphasis-100);
}

html[data-announcement-bar-initially-dismissed='true'] .announcementBar {
  display: none;
}

.announcementBarPlaceholder {
  flex: 0 0 10px;
}

.announcementBarClose {
  flex: 0 0 30px;
  align-self: stretch;
  color: #fff;;
}

.announcementBarContent {
  flex: 1 1 auto;
}

.announcementBarContent a:hover {
  color: #ff6310;
}

@media print {
  .announcementBar {
    display: block;
  }
}

@media (min-width: 997px) {
  :root {
    --docusaurus-announcement-bar-height: 40px;
  }

  .announcementBarPlaceholder,
  .announcementBarClose {
    flex-basis: 50px;
  }
}
