.linkCard {
    border: 1px solid var(--gray-300);
    border-radius: 6px;
    padding: 1.5rem 1rem;
    text-decoration: none !important;
    transition: 0.2s ease;
  
    display: flex;
    gap: 1.25rem;
    font-size: 15px;
    overflow: hidden;
  }
  
  [data-top-icon='true'].linkCard {
    flex-direction: column;
    align-items: start;
  }
  
  .linkCard[href]:hover {
    background-color: var(--orange-100);
  }
  
  html[data-theme="dark"] .linkCard[href]:hover {
    background-color: var(--orange-900);
  }
  
  .linkCard__icon {
    flex: 0 1 auto;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  
  .linkCard__copy {
    color: var(--ifm-font-color-base);
    flex: 1 1 75%;
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
    overflow: hidden;
  }
  
  .linkCard__label {
    font-weight: 600;
    margin-bottom: 0;
  }
  
  .linkCard__description {
    margin-bottom: 0;
  }
  
  [data-truncate='false'] .linkCard__description {
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
  }