---
id: validation_result
title: Validation Result
hoverText: An object generated when data is Validated against an Expectation Suite.
---
import UniversalMap from '/docs/images/universal_map/_universal_map.mdx';

<UniversalMap setup='active' connect='active' create='active' validate='active'/>

A Validation Result is an object generated when data is validated against an Expectation Suite.


NOTES: Everything under here is temporary, for use in writing the detailed page.
----------
A report generated from an expectation suite being run against a batch. The validation result is in JSON and is rendered as data docs.