---
id: validation_result
title: Validation Result
hoverText: A report generated from an Expectation Suite being run against a Batch.
---


A report generated from an Expectation Suite being run against a Batch. The Validation Result is in JSON and is rendered as Data Docs.
