gcsfs>=0.5.1
google-cloud-bigquery>=3.3.6
# needed to prevent excessive pip backtracking on pythonn 3.11
google-cloud-bigquery-storage>=2.20.0;python_version >= '3.11'
google-cloud-secret-manager>=1.0.0
google-cloud-storage>=1.28.0;python_version < '3.11'
# needed to prevent excessive pip backtracking on pythonn 3.11
google-cloud-storage>=2.10.0;python_version >= '3.11'
sqlalchemy-bigquery>=1.3.0
