boto3>=1.17.106
coverage[toml]>=7.5.1
flaky>=3.7.0 # for docs-integration tests that access cloud-resources that access cloud-resources
flask>=1.0.0 # for s3 test only (with moto)
freezegun>=0.3.15
moto[sns,s3]>=4.2.13,<5.0
pact-python>=2.0.1
pyfakefs>=4.5.1
pytest>=8.2.1
pytest-benchmark>=3.4.1
pytest-cov>=5.0.0
pytest-icdiff >= 0.9.0
pytest-mock>=3.14.0
pytest-order>=1.2.1
pytest-random-order>=1.1.1
pytest-timeout>=2.3.1
pytest-xdist>=3.6.1
requirements-parser>=0.9.0
responses>=0.23.1 # requests mocking
setuptools>=70.0.0 # required for python 3.12
sqlalchemy>=1.4.0
