et-xmlfile==1.1.0 ; python_version >= "3.8" and python_version < "3.12"
openpyxl==3.1.2 ; python_version >= "3.8" and python_version < "3.12"
xlrd==1.2.0 ; python_version >= "3.8" and python_version < "3.12"
