azure-common==1.1.28 ; python_version >= "3.8" and python_version < "3.12"
azure-core==1.26.4 ; python_version >= "3.8" and python_version < "3.12"
azure-identity==1.13.0 ; python_version >= "3.8" and python_version < "3.12"
azure-keyvault-secrets==4.7.0 ; python_version >= "3.8" and python_version < "3.12"
azure-storage-blob==12.16.0 ; python_version >= "3.8" and python_version < "3.12"
certifi==2023.5.7 ; python_version >= "3.8" and python_version < "3.12"
cffi==1.15.1 ; python_version >= "3.8" and python_version < "3.12"
charset-normalizer==3.1.0 ; python_version >= "3.8" and python_version < "3.12"
cryptography==40.0.2 ; python_version >= "3.8" and python_version < "3.12"
idna==3.4 ; python_version >= "3.8" and python_version < "3.12"
isodate==0.6.1 ; python_version >= "3.8" and python_version < "3.12"
msal==1.22.0 ; python_version >= "3.8" and python_version < "3.12"
msal-extensions==1.0.0 ; python_version >= "3.8" and python_version < "3.12"
portalocker==2.7.0 ; python_version >= "3.8" and python_version < "3.12"
pycparser==2.21 ; python_version >= "3.8" and python_version < "3.12"
pyjwt[crypto]==2.7.0 ; python_version >= "3.8" and python_version < "3.12"
pywin32==306 ; python_version >= "3.8" and platform_system == "Windows" and python_version < "3.12"
requests==2.31.0 ; python_version >= "3.8" and python_version < "3.12"
six==1.16.0 ; python_version >= "3.8" and python_version < "3.12"
typing-extensions==4.6.2 ; python_version >= "3.8" and python_version < "3.12"
urllib3==2.0.2 ; python_version >= "3.8" and python_version < "3.12"
