# aequitas          # This depends on old versions of Flask (0.12.2) and sqlalchemy (1.1.1)
arxiv
barcodenumber
blockcypher
coinaddrvalidator
cryptoaddress
cryptocompare
dataprofiler
disposable_email_domains
dnspython
edtf_validate
ephem
geonamescache
geopandas
geopy
global-land-mask
gtin
holidays
# indiapins         # This package does not work (FileNotFoundError: '...lib/python3.8/site-packages/indiapins/pins.json.bz2')
ipwhois
isbnlib
langid>=1.1.6
pgeocode
phonenumbers
price_parser
primefac
prophet
pwnedpasswords
py-moneyed
pydnsbl
pygeos
pyogrio
python-geohash
python-stdnum
pyvat
rtree
schwifty
scikit-learn
shapely
simple_icd_10
sympy
tensorflow
timezonefinder
us
user_agents
uszipcode
yahoo_fin
zipcodes
