Sphinx==4.0.2
sphinx-autoapi==1.8.1
sphinx-gitstamp==0.3.1
sphinx-rtd-theme==0.5.2
sphinxcontrib-contentui==0.2.5
sphinxcontrib-discourse @ git+https://github.com/pdavide/sphinxcontrib-discourse@02453dff2c56b14987cf662cfd8cddb3b31b0dd7
