# Aggressively pin everything to known-working versions for docs builds

alabaster==0.7.12
altair==4.1.0
appdirs==1.4.4
appnope==0.1.0
argon2-cffi==20.1.0
astroid==2.4.2
attrs==19.3.0
autoapi==2.0.1
Babel==2.8.0
backcall==0.2.0
bleach==3.3.0
certifi==2020.6.20
cffi==1.14.1
chardet==3.0.4
click==7.1.2
decorator==4.4.2
defusedxml==0.6.0
docutils==0.16
entrypoints==0.3
gitdb==4.0.5
GitPython==3.1.7
idna==2.10
imagesize==1.2.0
importlib-metadata==1.7.0
ipykernel==5.3.4
ipython==7.17.0
ipython-genutils==0.2.0
ipywidgets==7.5.1
jedi==0.17.2
Jinja2==2.11.3
jsonpatch==1.26
jsonpointer==2.0
jsonschema==3.2.0
jupyter-client==6.1.6
jupyter-core==4.6.3
lazy-object-proxy==1.4.3
MarkupSafe==1.1.1
mistune==0.8.4
nbconvert==5.6.1
nbformat==5.0.7
notebook==6.1.5
numpy==1.21.0
packaging==20.4
pandas==1.0.5
pandocfilters==1.4.2
parso==0.7.1
pathspec==0.8.0
pexpect==4.8.0
pickleshare==0.7.5
prometheus-client==0.8.0
prompt-toolkit==3.0.6
ptyprocess==0.6.0
pycparser==2.20
Pygments==2.7.4
pyparsing==2.4.7
pyrsistent==0.16.0
python-dateutil==2.8.1
pytz==2020.1
PyYAML==5.4
pyzmq==19.0.2
regex==2020.7.14
requests==2.25.1
ruamel.yaml==0.16.10
ruamel.yaml.clib==0.2.0
scipy==1.5.2
Send2Trash==1.5.0
six==1.15.0
smmap==3.0.4
snowballstemmer==2.0.0
Sphinx==2.4.4
sphinx-autoapi==1.4.0
sphinx-gitstamp==0.3.1
sphinx-rtd-theme==0.5.0
sphinxcontrib-applehelp==1.0.2
sphinxcontrib-contentui==0.2.5
sphinxcontrib-devhelp==1.0.2
sphinxcontrib-discourse @ git+https://github.com/pdavide/sphinxcontrib-discourse@02453dff2c56b14987cf662cfd8cddb3b31b0dd7
sphinxcontrib-htmlhelp==1.0.3
sphinxcontrib-jsmath==1.0.1
sphinxcontrib-qthelp==1.0.3
sphinxcontrib-serializinghtml==1.1.4
sybil==1.4.0
termcolor==1.1.0
terminado==0.8.3
testpath==0.4.4
toml==0.10.1
toolz==0.10.0
tornado==6.0.4
traitlets==4.3.3
typed-ast==1.4.1
tzlocal==2.1
Unidecode==1.1.1
urllib3==1.26.5
wcwidth==0.2.5
webencodings==0.5.1
widgetsnbextension==3.5.1
wrapt==1.12.1
zipp==3.1.0
