.linkCardGrid {
    --auto-grid-min-size: 266px;
    display: grid;
    gap: 1rem;
    grid-template-columns: repeat(3, minmax(var(--auto-grid-min-size), 1fr));
    grid-auto-columns: minmax(100px, 200px);
    margin: 2rem 0;
  }