:root {
  --ifm-alert-border-left-width: 6px;
  --ifm-alert-border-width: 1px;

  --ifm-color-info-contrast-background: #E9ECF5;
  --ifm-color-info-dark: #223F99;

  --ifm-color-success-contrast-background: #F8F9EC;
  --ifm-color-success-dark: #B6C647;

  --ifm-color-warning-contrast-background: #FEFBF3;
  --ifm-color-warning-dark: #F3C62D;

  --ifm-color-danger-contrast-background: #FEF6F9;
  --ifm-color-danger-dark: #E54F54;

  --color-cta-contrast-background: transparent;
  --color-cta-secondary-dark: var(--ifm-color-primary);
}

:root[data-theme='dark'] {
  --ifm-color-info-contrast-background: var(--card-background-dark-theme);
  --ifm-color-success-contrast-background: var(--card-background-dark-theme);
  --ifm-color-warning-contrast-background: var(--card-background-dark-theme);
  --ifm-color-danger-contrast-background: var(--card-background-dark-theme);
  --ifm-color-cta-contrast-background: var(--card-background-dark-theme);
}

.alert {
  border-width: 1px;
  border-left-width: var(--ifm-alert-border-left-width);
  box-shadow: none;

  div:first-child {
    font-size: var(--p-font-size);

    & span {
      font-size: var(--p-tiny-font-size);
    }
  }

  &--info {
    --ifm-alert-background-color-highlight: rgba(34, 63, 153, 0.1);
  }

  &--success {
    --ifm-alert-background-color-highlight: rgba(182, 198, 71, 0.2);
  }

  &--warning,
  &--caution {
    --ifm-alert-background-color-highlight: rgba(245, 206, 74, 0.2);
  }

  &--danger {
    --ifm-alert-background-color-highlight: rgba(229, 79, 84, 0.15);
  }

  &--secondary {
    border-left-width: var(--ifm-alert-border-left-width);
  }

  &.theme-admonition-cta {
    background-color: var(--color-cta-contrast-background);
    border: 3px solid var(--color-cta-secondary-dark);
    border-left-width: var(--ifm-alert-border-left-width);
    padding-bottom: 20px;

    div:first-child {
      font-size: var(--ifm-h3-font-size);
      text-transform: none;

      & span {
        font-size: var(--p-font-size);
      }
    }

    a.cta {
      background-color: var(--color-cta-secondary-dark);
      border-radius: 35px;
      color: var(--white);
      font-size: var(--p-font-size);
      font-weight: var(--ifm-font-weight-semibold);
      padding: 0.5em 3em;
      text-decoration: none;

      &:hover {
        background-color: var(--color-primary-dark);
      }
    }
  }
}
