.custom-search-bar {
  margin-left: auto;

  .DocSearch-Button {
    background: none;

    &-Placeholder {
      display: none;
    }

    &-Container svg path {
      stroke-width: 3;
    }

    &-Keys {
      display: none;
    }
  }
}
