div .custom-search-bar {
  padding: var(--ifm-navbar-item-padding-vertical) 0;

}

.custom-search-bar .DocSearch-Button {
  background: none;

  &-Placeholder {
    display: none;
  }

  &-Container svg path {
    stroke-width: 3;
  }

  &-Keys {
    display: none;
  }
}
