@import "sass_variables.scss";

div .custom-search-bar {
  padding: var(--ifm-navbar-item-padding-vertical) 0.5rem;

  .DocSearch-Button {
    width: 170px;
  }
}

[data-theme='dark'] .custom-search-bar .DocSearch-Button:hover {
  background: none;
}

[data-theme='dark'] .DocSearch-Form {
  background: none;
}

@media (max-width: $mobile-breakpoint) {
  div .custom-search-bar {
    padding: 0.25rem 0;

    .DocSearch-Button {
      padding: 0 0.5rem;
      width: auto;
      background: none;

      &-Placeholder {
        display: none;
      }

      &-Container svg path {
        stroke-width: 3;
      }

      &-Keys {
        display: none;
      }
    }
  }
}
