@import "sass_variables.scss";

div .custom-search-bar {
  padding: var(--ifm-navbar-item-padding-vertical) 0;
}

[data-theme='dark'] .custom-search-bar .DocSearch-Button:hover {
  background: none;
}

[data-theme='dark'] .DocSearch-Form {
  background: none;
}

@media (max-width: $mobile-breakpoint) {
  .custom-search-bar .DocSearch-Button {
    background: none;

    &-Placeholder {
      display: none;
    }

    &-Container svg path {
      stroke-width: 3;
    }

    &-Keys {
      display: none;
    }
  }
}
