.feedbackCard {
    background-color: var(--gray-100);
    border: 1px solid var(--gray-200);
    border-radius: 6px;
    box-shadow: 0 3px 6px -1px var(--gray-300);

    display: flex;
    flex-direction: row;
    gap: 1.5rem;
    margin: auto;
    padding: 0.75rem;
    width: 100%;
    max-width: 30rem;
    justify-content: center;
    align-items: center;
}

.feedbackCardTitle {
    font-size: var(--p-font-size);
    font-weight: var(--ifm-font-weight-semibold);
    margin: 0;
}

.feedbackCardActions{
    display: flex;
    gap: 0.5rem;
}

.feedbackButton {
    border-color: var(--ifm-color-primary);
    background: none;
    border: 2px solid var(--ifm-color-primary);
    border-radius: 50rem;
    color: var(--ifm-color-primary);
    cursor: pointer;
    font-size: var(--p-font-size);
    font-weight: var(--ifm-font-weight-semibold);
    padding: 0.25rem;
    text-align: center;
    min-width: 4.5rem;
}

.feedbackButton:hover {
    background: var(--orange-100);
    color: var(--ifm-color-primary);
}

.inactiveFeedbackButton {
    background: var(--gray-200);
    border: 1px solid transparent;
    border-radius: 50rem;
    color: var(--gray-500);
    font-size: var(--p-font-size);
    font-weight: var(--ifm-font-weight-semibold);
    padding: 0.25rem;
    text-align: center;
    min-width: 4.5rem;
}
