{% extends "!layout.html" %} {% block extrahead %}
<!--     <link href="{{ pathto("_static/style.css", True) }}" rel="stylesheet" type="text/css"> -->
{% endblock %} {% block extrabody %}
<div class="ge_header no-print">
  <div
    style="
    float: left;
    width: 100%;
    background: #fff;
"
  >
    <a id="header-logo" href="https://greatexpectations.io/">
      <img
        src="https://docs.greatexpectations.io/img/gx-logo.svg"
        alt="logo"
      />
    </a>
    <div id="header-actions">
      <a style="color:#ff8d3a !important;" class="header-item" href="https://docs.greatexpectations.io/docs/">
        LATEST DOCUMENTATION
      </a>
      <div
        id="sub-menu-header"
        onmouseover="document.getElementById('product-modal').style.height = '152px';"
        onmouseout="document.getElementById('product-modal').style.height = '0';"
        class="header-item"
        style="width:155px"
      >
        PRODUCT
        <div class="drop-modal" id="product-modal">
          <ul>
            <li>
              <a href="https://greatexpectations.io/gx-cloud">
                GX CLOUD
              </a>
            </li>
            <li>
              <a href="https://greatexpectations.io/gx-oss">
                GX OSS
              </a>
            </li>
          </ul>
        </div>
      </div>
      <div
        id="sub-menu-header"
        onmouseover="document.getElementById('community-modal').style.height = '152px';"
        onmouseout="document.getElementById('community-modal').style.height = '0';"
        class="header-item"
        style="width:155px"
      >
        COMMUNITY
        <div class="drop-modal" id="community-modal">
          <ul>
            <li>
              <a href="https://greatexpectations.io/community">
                COMMUNITY HOME
              </a>
            </li>
            <li>
              <a href="https://greatexpectations.io/slack">
                SLACK
              </a>
            </li>
            <li>
              <a href="https://github.com/great-expectations/great_expectations">
                GITHUB
              </a>
            </li>
            <li>
              <a href="https://greatexpectations.io/newsletter">
                JOIN THE EMAIL LIST
              </a>
            </li>
          </ul>
        </div>
      </div>
      <div
        id="sub-menu-header"
        onmouseover="document.getElementById('resources-modal').style.height = '152px';"
        onmouseout="document.getElementById('resources-modal').style.height = '0';"
        class="header-item"
        style="width:155px"
      >
        RESOURCES
        <div class="drop-modal" id="resources-modal">
          <ul>
            <li>
              <a href="https://greatexpectations.io/integrations">
                INTEGRATIONS
              </a>
            </li>
            <li>
              <a href="https://docs.greatexpectations.io/docs/">
                DOCUMENTATION
              </a>
            </li>
            <li>
              <a href="https://greatexpectations.io/expectations">
                EXPECTATION GALLERY
              </a>
            </li>
            <li>
              <a href="https://greatexpectations.io/blog">
                BLOG
              </a>
            </li>
            <li>
              <a href="https://greatexpectations.io/case-studies">
                CASE STUDIES
              </a>
            </li>
          </ul>
        </div>
      </div>
      <div
        id="sub-menu-header"
        onmouseover="document.getElementById('company-modal').style.height = '152px';"
        onmouseout="document.getElementById('company-modal').style.height = '0';"
        class="header-item"
        style="width:155px"
      >
        COMPANY
        <div class="drop-modal" id="company-modal">
          <ul>
            <li>
              <a href="https://greatexpectations.io/company">
                ABOUT US
              </a>
            </li>
            <li>
              <a href="https://jobs.greatexpectations.io/">
                CAREERS
              </a>
            </li>
          </ul>
        </div>
      </div>
      <a class="header-item" href="https://greatexpectations.io/gx-cloud" style="
        color: #fff !important;
        font-weight: bold;
        padding: 0;
        font-size: 14px;
        background-color: #ff6310;
        border-color: #ff6310;
        border-radius: 35px;
        text-align: center;
        padding: 8px 16px;
        line-height: 1.5;
        position: relative;
        top: 4px;
        ">
        Cloud early access
      </a>
    </div>
    <div id="header-mobile">
      <i
        onmouseover="document.getElementById('mobile-modal').style.height = '427px';"
        onmouseout="document.getElementById('mobile-modal').style.height = '0';"
        class="fa fa-ellipsis-h"
        style="
    					position: absolute;
					    right: 16px;
					    top: 16px;
					    font-size: 22px;
					    color: #0000009e;
				"
      ></i>
      <div id="mobile-modal">
        <ul>
          <li>
            <a style="color:#ff8d3a !important;" class="header-item" href="https://docs.greatexpectations.io/docs/">
              LATEST DOCUMENTATION
            </a>
          </li>
          <li>
            <a
              class="header-item"
              href="https://greatexpectations.io/gx-cloud"
              >GX CLOUD</a
            >
          </li>
          <li>
            <a
              class="header-item"
              href="https://greatexpectations.io/gx-oss"
              >GX OSS</a
            >
          </li>
          <li>
            <a class="header-item" href="https://greatexpectations.io/community"
              >COMMUNITY HOME</a
            >
          </li>
          <li>
            <a class="header-item" href="https://greatexpectations.io/slack"
              >SLACK</a
            >
          </li>
          <li>
            <a class="header-item" href="https://github.com/great-expectations/great_expectations"
              >GITHUB</a
            >
          </li>
          <li>
            <a class="header-item" href="https://greatexpectations.io/newsletter"
              >JOIN THE EMAIL LIST</a
            >
          </li>
          <li>
            <a class="header-item" href="https://greatexpectations.io/integrations"
              >INTEGRATIONS</a
            >
          </li>
          <li>
            <a class="header-item" href="https://docs.greatexpectations.io/docs/"
              >DOCUMENTATION</a
            >
          </li>
          <li>
            <a class="header-item" href="https://greatexpectations.io/expectations"
              >EXPECTATIONS GALLERY</a
            >
          </li>
          <li>
            <a class="header-item" href="https://greatexpectations.io/blog"
              >BLOG</a
            >
          </li>
          <li>
            <a class="header-item" href="https://greatexpectations.io/case-studies"
              >CASE STUDIES</a
            >
          </li>
          <li>
            <a class="header-item" href="https://greatexpectations.io/company"
              >ABOUT US</a
            >
          </li>
          <li>
            <a class="header-item" href="https://jobs.greatexpectations.io/"
              >CAREERS</a
            >
          </li>
        </ul>
      </div>
    </div>
  </div>
  <center
    style="
    background: orange;
    padding: 8px;
    float: left;
    width: 100%;
"
  >
    <a
      href="https://docs.greatexpectations.io/docs/"
      style="text-decoration: underline; color: black; font-weight: bold;"
    >
       See the new documentation
    </a>
     for the more recent and current versions of Great Expectations.  This legacy site is for GX 0.13.x (December 2021) and earlier.
  </center>
</div>

{% endblock %}
