sphinx>=2.1,<3
sybil>=1.2.1
sphinx_rtd_theme>=0.4.3
sphinxcontrib-contentui>=0.2.4
sphinx-gitstamp>=0.3.1
git+https://github.com/pdavide/sphinxcontrib-discourse
sphinx-autoapi>=1.4.0
pandas<1.1.0  # pandas 1.1 and autoapi apparently do not get along
