.gxCard {
    background-color: #272763;
    color: var(--ifm-footer-link-color);
    margin: 0 0 2rem;
    padding: 4rem 1.5rem;
  }
  
  .gxCard__title {
    max-width: 40rem;
  }
  
  .gxCard__buttons {
    display: flex;
    gap: 0.75rem;
    flex-wrap: wrap;
  }
  
  .button {
    border: 1px solid transparent;
    cursor: pointer;
    border-radius: 50rem;
    font-size: var(--p-font-size);
    font-weight: var(--ifm-font-weight-semibold);
    background-color: var(--ifm-color-primary);
    color: var(--ifm-footer-link-color);
    padding: 0.5rem 1rem;
    text-align: center;
  }
  
  .button:hover {
    background: var(--ifm-color-primary);
    color: var(--ifm-footer-link-color);
    text-decoration: none;
  }
  
  .button__outline {
    border-color: var(--ifm-color-primary);
    background: none;
    color: var(--ifm-color-primary);
  }

  .button__outline:hover {
    background: none;
    color: var(--ifm-color-primary);
  }
