.wy-nav-content {
    width: auto !important;
    max-width: max-content !important;
}

.section {
    width: 800px;
}

.widetable {
    min-width: 1000px !important;
}

.wy-side-scroll {
    background: #FFFFFF;
}
.wy-nav-top {
    background: #FFFFFF;
}

.wy-nav-content {
    font-family: system-ui,-apple-system,Segoe UI,Roboto,Ubuntu,Cantarell,Noto Sans,sans-serif,BlinkMacSystemFont,"Segoe UI",Helvetica,Arial,sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol";
    color: #222222;
    background: #FFFFFF;
}

.wy-nav-content-wrap {
    background: #FFFFFF;
}

.wy-side-nav-search {
    background: #FFFFFF;
}

.wy-menu-vertical a{
    font-family: system-ui, -apple-system, Segoe UI, Roboto, Ubuntu, Cantarell, Noto Sans, sans-serif, BlinkMacSystemFont, "Segoe UI", Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
    color: #222222;
}

.wy-menu-vertical a:hover{
    color: #333333;
    background: fuchsia;
}

.wy-nav-side {
    background: #FFFFFF;
    top: 50px;
}

.ge_header {
    background: aquamarine;
}

h1,h1,h3,h4,h5,h6,p{
    font-family: HKGroteskPro !important;
}

@font-face {
  font-family: HKGroteskPro;
  font-weight: 400;
    src: url(hk-grotesk-pro/HKGroteskPro-Regular.woff2) format("woff2"), url(hk-grotesk-pro/HKGroteskPro-Regular.woff) format("woff")
 }

@font-face {
    font-family: HKGroteskPro;
    font-weight: 600;
    src: url(hk-grotesk-pro/HKGroteskPro-Medium.woff2) format("woff2"), url(hk-grotesk-pro/HKGroteskPro-Medium.woff) format("woff")
}

@font-face {
  font-family: HKGroteskPro;
  font-weight: 700;
  src: url(hk-grotesk-pro/HKGroteskPro-SemiBold.woff2) format("woff2"), url(hk-grotesk-pro/HKGroteskPro-SemiBold.woff) format("woff")
}

@font-face {
  font-family: HKGroteskPro;
  font-weight: 800;
  src: url(hk-grotesk-pro/HKGroteskPro-Bold.woff2) format("woff2"), url(hk-grotesk-pro/HKGroteskPro-Bold.woff) format("woff")
}