name: pypideps

on: [push]

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v3
      - name: Set up Python 3.7
        uses: actions/setup-python@v4
        with:
          python-version: 3.7
      - name: Install dependencies
        run: |
          pip install .
          pip install --requirement requirements-dev.txt --constraint constraints-dev.txt
          for file in reqs/*;
            pip install --requirement $file
          done
