<nav id="navigation" class="navbar navbar-light bg-light sticky">
    <nav class="nav nav-pills flex-column">
        <a class="navbar-brand" href="#">MyTable</a>
        {% for i in range(20) %}
        <a class="nav-link" href="#section-{{i}}">Section {{i}}</a>
        {% endfor %}
    </nav>
</nav>
